@import "tailwindcss";

/* Toplevel Stuff */

html {
    @apply bg-gray-50 dark:bg-black text-black dark:text-white overscroll-none select-none;
}

html, body {
    @apply w-dvw h-dvh overflow-hidden;
}

.full-screen {
    @apply w-dvw h-dvh;
}

/* Main Header/Subtitle & Header Bar */

.main-header {
    @apply text-blue-500 font-bold text-center text-xl;
}

.main-subtitle {
    @apply text-gray-700 dark:text-gray-200 italic text-center text-sm;
}

.headerbar {
    @apply text-black dark:text-white;
}

/* Containers */

.toplevel-container {
    @apply flex flex-col grow w-full max-w-xl px-4 m-4;
}

.container-alt {
    @apply bg-gray-300 dark:bg-gray-900 rounded-2xl px-2 py-6;
}

/* Buttons */

.btn {
    @apply border-none bg-gray-700 hover:bg-gray-500 active:bg-gray-800 text-white disabled:bg-gray-800 disabled:text-gray-300 font-bold py-2 px-4 rounded transition-all duration-75 touch-manipulation;
}

.btn-blue {
    @apply bg-blue-700 hover:bg-blue-500 active:bg-blue-800 text-white disabled:bg-blue-800 disabled:text-gray-300;
}

.btn-red {
    @apply bg-red-700 hover:bg-red-500 active:bg-red-800 text-white disabled:bg-red-800 disabled:text-gray-300;
}

.btn-circle {
    @apply rounded-full aspect-square;
}

.remove-button {
    @apply aspect-square self-center shrink border-none cursor-pointer text-black dark:text-white rounded-full bg-transparent hover:bg-red-200 active:bg-red-400 dark:bg-transparent dark:hover:bg-red-500 dark:active:bg-red-700 transition-all duration-75 touch-manipulation font-mono;
}

.add-button {
    @apply rounded-full font-mono;
}

/* Text Inputs */

.standard-input {
    @apply px-4 py-1 rounded-md transition-all focus:outline-none;
}

.new-reminder-input {
    @apply rounded-2xl border-2 border-black dark:border-white focus:outline-gray-800 dark:focus:outline-gray-400 focus:outline-1;
}