@import "tailwindcss";

/* Toplevel Stuff */

html {
    @apply bg-gray-50 dark:bg-black text-black dark:text-white overscroll-none select-none;
}

html, body {
    @apply w-dvw h-dvh overflow-hidden;
}

.full-screen {
    @apply w-dvw h-dvh;
}

/* Main Header/Subtitle & Header Bar */

.main-header {
    @apply text-blue-500 font-bold text-center text-lg;
}

.main-subtitle {
    @apply text-gray-700 dark:text-gray-200 italic text-center text-sm;
}

.commit-info {
    @apply text-gray-400 dark:text-gray-600 italic text-center text-xs;
}

.headerbar {
    @apply text-black dark:text-white;
}

/* Containers */

.toplevel-container {
    @apply flex flex-col w-full h-full px-4 items-center;
}

.scroll-container {
    @apply overflow-y-auto overscroll-auto;
}

.constrain-x {
    @apply grow w-full max-w-xl;
}

.container-alt {
    @apply bg-gray-300 dark:bg-gray-900 rounded-2xl px-2 py-6;
}

/* Buttons */

.btn {
    @apply
    bg-gray-700 hover:bg-gray-500 active:bg-gray-800 disabled:bg-gray-800 /* Background colors */
    text-white disabled:text-gray-500 /* Text colors */
    border-none /* No Border by default */
    py-2 px-4 /* Padding */
    rounded /* Rounding */
    transition-all duration-150 /* Transitions */
    touch-manipulation; /* Touch Manipulation */
}

.btn-blue {
    @apply
    bg-blue-500 text-white font-bold
    hover:bg-blue-700
    active:bg-blue-700
    disabled:bg-blue-500 disabled:text-white
    disabled:opacity-50 disabled:cursor-not-allowed;
}

.btn-red {
    @apply
    bg-red-500 text-white font-bold
    hover:bg-red-700
    active:bg-red-700
    disabled:bg-red-500 disabled:text-white
    disabled:opacity-50 disabled:cursor-not-allowed;
}

.btn-circle {
    @apply rounded-full aspect-square;
}

.remove-button {
    @apply aspect-square self-center shrink border-none cursor-pointer text-black dark:text-white rounded-full bg-transparent hover:bg-red-200 active:bg-red-400 dark:bg-transparent dark:hover:bg-red-500 dark:active:bg-red-700 transition-all duration-75 touch-manipulation font-mono;
}

.add-button {
    @apply border-solid rounded-full font-mono border-2 border-gray-300 disabled:border-gray-800;
}

/* Text Inputs */

.text-input {
    @apply
    appearance-none
    bg-gray-200 dark:bg-gray-800
    border-2 border-gray-200 dark:border-gray-800 rounded
    w-full py-2 px-4
    text-gray-700 dark:text-gray-300 leading-tight
    focus:outline-none focus:bg-white dark:focus:bg-black focus:border-blue-500;
}

.standard-input {
    @apply px-4 py-1 rounded-md transition-all focus:outline-none;
}

.new-reminder-input {
    @apply rounded-2xl border-2 border-black dark:border-white focus:outline-none;
}