@import "tailwindcss";

/* Toplevel Stuff */

html {
    @apply bg-neutral-50 dark:bg-black text-black dark:text-white overscroll-none select-none;
}

html, body {
    @apply w-dvw h-dvh overflow-hidden;
}

/* Containers */

.toplevel-container {
    @apply flex flex-col w-full h-full px-4 items-center;
}

.scroll-container {
    @apply overflow-y-auto overscroll-auto;
}

.constrain-x {
    @apply grow w-full max-w-xl;
}

.container-alt {
    @apply bg-neutral-300 dark:bg-neutral-900
    shadow-2xl
    drop-shadow-black dark:drop-shadow-white
    rounded-2xl px-4 py-6;
}

.container-reminder-list-header {
    @apply
    flex
    justify-center
    absolute top-0 left-0 right-0
    h-12
}

.container-reminder-list-header-inner {
    @apply
    flex
    grow
    w-full
    justify-center
    items-center
    max-w-xl
    bg-neutral-400/20
    dark:bg-neutral-800/20
    backdrop-blur-sm
}

.container-reminder-list {
    @apply
    flex flex-col
    w-full
    items-center
    pb-18
    pt-12
}

.container-reminder-input {
    @apply
    flex
    justify-center
    absolute bottom-6 left-6 right-6
    h-12;
}

.container-reminder-input-inner {
    @apply
    flex
    justify-end
    w-full
    h-full
    max-w-xl
}

/* Buttons */

.btn {
    @apply
    bg-neutral-700 hover:bg-neutral-500 active:bg-neutral-800 disabled:bg-neutral-800 /* Background colors */
    text-white disabled:text-neutral-500 /* Text colors */
    border-none /* No Border by default */
    py-2 px-4 /* Padding */
    rounded /* Rounding */
    transition-all duration-150 /* Transitions */
    touch-manipulation; /* Touch Manipulation */
}

.btn-blue {
    @apply
    bg-blue-500 text-white font-bold
    hover:bg-blue-700
    active:bg-blue-700
    disabled:bg-blue-500 disabled:text-white
    disabled:opacity-50 disabled:cursor-not-allowed;
}

.btn-circle {
    @apply rounded-full aspect-square p-0;
}

.remove-button {
    @apply aspect-square self-center shrink border-none cursor-pointer text-black dark:text-white rounded-full bg-transparent hover:bg-red-200 active:bg-red-400 dark:bg-transparent dark:hover:bg-red-500 dark:active:bg-red-700 transition-all duration-75 touch-manipulation font-mono;
}

.info-button {
    @apply w-6 h-6 self-center border-solid border-2 border-blue-500 text-blue-500 hover:text-blue-300 hover:border-blue-300 rounded-full transition-all duration-150;
}

/* Text Inputs */

.text-input {
    @apply
    appearance-none
    bg-neutral-200 dark:bg-neutral-800
    border-2 border-neutral-200 dark:border-neutral-800 rounded
    w-full py-2 px-4
    text-neutral-700 dark:text-neutral-300 leading-tight
    focus:outline-none focus:bg-white dark:focus:bg-black focus:border-blue-500;
}

.standard-input {
    @apply px-4 py-1 rounded-md transition-all focus:outline-none;
}

.reminder-input {
    @apply
    appearance-none
    bg-transparent
    focus:outline-none
}

.multiline-input {
    @apply resize-none field-sizing-content wrap-anywhere;
}