@import "tailwindcss";

html {
    @apply bg-gray-50 dark:bg-black text-black dark:text-white overscroll-none select-none;
}

.btn {
    @apply bg-blue-700 dark:bg-blue-200 hover:bg-blue-500 dark:hover:bg-blue-400 text-white dark:text-black font-bold py-2 px-4 rounded transition-all duration-75;
}

h1 {
    @apply text-blue-950 dark:text-blue-200;
}

h2 {
    @apply text-gray-700 dark:text-gray-200;
}

.headerbar {
    @apply text-black dark:text-white;
}

.remove-button {
    @apply aspect-square self-center shrink border-none cursor-pointer text-black dark:text-white rounded-full bg-transparent hover:bg-red-200 active:bg-red-400 dark:bg-transparent dark:hover:bg-red-500 dark:active:bg-red-700 transition-all duration-75;
}

.add-button {
    @apply rounded-full;
}
