@import "tailwindcss";

html {
    @apply bg-gray-50 dark:bg-black text-black dark:text-white overscroll-none select-none;
}

html, body {
    @apply w-dvw h-dvh overflow-hidden;
}

.full-screen {
    @apply w-dvw h-dvh;
}

.btn {
    @apply bg-blue-700 dark:bg-blue-500 hover:bg-blue-300 text-white font-bold py-2 px-4 rounded transition-all duration-75 touch-manipulation;
}

.btn-red {
    @apply bg-red-700 dark:bg-red-500 hover:bg-red-300 text-white;
}

h1 {
    @apply text-blue-500;
}

h2 {
    @apply text-gray-700 dark:text-gray-200;
}

.headerbar {
    @apply text-black dark:text-white;
}

.remove-button {
    @apply aspect-square self-center shrink border-none cursor-pointer text-black dark:text-white rounded-full bg-transparent hover:bg-red-200 active:bg-red-400 dark:bg-transparent dark:hover:bg-red-500 dark:active:bg-red-700 transition-all duration-75 touch-manipulation font-mono;
}

.add-button {
    @apply rounded-full font-mono;
}
