@import "tailwindcss";

html {
    @apply bg-gray-50 dark:bg-black text-black dark:text-white;
}

button {
    @apply bg-blue-700 dark:bg-blue-200 hover:bg-blue-500 dark:hover:bg-blue-400 text-white dark:text-black font-bold py-2 px-4 rounded;
}

h1 {
    @apply text-blue-950 dark:text-blue-200;
}

h2 {
    @apply text-gray-700 dark:text-gray-200;
}

.headerbar {
    @apply text-black dark:text-white;
}
